@import "../bower_components/bootstrap/less/bootstrap.less";
@import "fonts.less";
@import (inline) "sprite.css";
@import (inline) "../bower_components/owl.carousel/dist/assets/owl.carousel.css";
@import (inline) "../bower_components/owl.carousel/dist/assets/owl.theme.default.css";
@import (inline) "../bower_components/ng-notify/dist/ng-notify.min.css";

@icon-font-path: "../bower_components/bootstrap/fonts/";

// ngNotify to show above fixed nav
.ngn-info {
  z-index: 9999;
}
//@media (min-width: 1070px) {//992
  //.container {
   // max-width: 800px;
  //}
//}
.container-narrow {
  .container-fluid;
  max-width: 960px;
}

@forest-green: #338a10;
@light-green: #40d47e;
@pretzel-green: #006846;

@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 60%);   // #999
@gray-lighter: lighten(#000, 93.5%); // #eee


i[class^='sprite-'] {
  display: inline-block;
}

.header {
  margin-bottom: .5em;
}
.subhead {
  color: @gray-light;
  margin-bottom: 50px;
}


/* ==========================================================================
   Base tags
   ========================================================================== */

html {
  height: 100%;
  color: #444;
}

h1, h2, h3, h4, h5, h6  {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #222;
}

h1 {
  margin-bottom: 1em;
  @media (min-width: @screen-sm-min) { //768 -> up
    font-size: 35px;
  }
}

body {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  //line-height: 1.2;
}

.navbar {
  z-index: 2; //made the homepage full width a negative height
  margin-bottom: 0;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  .navbar-nav {
    //margin-top: 18px;
  }
  .navbar-toggle {
    padding: 14px 10px;
    .icon-bar {
      width: 27px;
    }
  }
  .navbar-brand {
    padding-top: 5px;
    i {
      display: block;
      width: auto;
      position: relative;
      z-index: 1;
      // sprite below
      background-image: url(/img/sprite.png);
      background-position: 0px -1043px;
      width: 75px;
      height: 70px;
      @media (min-width: @screen-sm-min) { //768 -> up
        background-image: url(/img/sprite.png);
        background-position: 0px -1550px;
        width: 100px;
        height: 93px;
       }
    }
  }
  li {
    a {
      font-size: 15px;
      color: #444 !important;
      padding-top: 35px !important;
      padding-bottom: 15px !important;
      &:hover {
        background-color: transparent;
        color: #000 !important;
      }
    }
  }
  .request-info {
    button {
      //background-color: #ff0033;
      //background-color: #d95253;
      padding: 10px 12px;
      //margin-top: 14px;
      color: #fff !important;
      font-size: 16px;
      margin-top: 13px;
      .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
      &:hover {
        color: #ffffff;
        background-color: #47a447;
        border-color: #398439;
      }

    }
  }
}

#home {
  h1 {
   font-size: 46px;
  }
  h3 {
   font-size: 24px;
  }

  section h1, section h2, section h3 {
    text-align: center;
  }
  header {
    //background: url('/img/pretzel-bg-home-header.jpg') no-repeat 0 0;
    //background: url('/img/pretzel-bg.jpg') no-repeat top left;
    background: url('/img/five-pack-dark-sm.jpg') no-repeat top left;
    //-webkit-filter: brightness(70%);
    //background: url('/img/original-store-dark.jpg') no-repeat top left;
    //background: url('/img/pretzel-bg-blurred.jpg') no-repeat top left;
    //background: url('/img/big-stack-5.jpg') no-repeat top left;
    background-size: cover !important;
    //background-size: 100% 500px;
    height: 100%;
    position: relative;
    .wrapper-bg {
      height: 100%;
    }
  }
  .header-content {
    position: relative; 
    height: 100%;
    margin-top: -70px;
    padding-top: 70px;
    display: table; 
    width: 100%;//table needs
  }
  #hero {
    display: table-cell;
    vertical-align: middle;
    h1 {
      margin: 0;
      padding: 0;
      color: #fff;
      font-family: aleo, sans-serif; 
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      @media (min-width: @screen-md-min) { //992 -> up
        font-size: 68px;
      }
    }
    h2 {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      @media (min-width: @screen-sm-min) { //768 -> up
        font-size: 30px;
      }
    }
  }

  #benefits {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 100px;
    h1 {
      margin: 0;
      margin-bottom: 80px;
    }
    img {
      height: 70px;
      width: auto;
    } 
    h3 {
      font-size: 24px;
      margin-top: 50px;
    }
    p {
      //font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  #awards {
    padding-bottom: 120px;
    padding-top: 120px;
    text-align: center;
    img {
      //height: 70px;
    }
    h1 {
      font-weight: 700;
    }
    .award {
      font-weight: 700;
      margin-top: 10px;
    }
    .awarder {
      font-size: 13px;
    }

    @media (max-width: @screen-xs-max) {
      div[class^='col-'] {
        padding-bottom: 15px;  
      }
    }
    @media (min-width: @screen-sm-min) { //768 -> up
      h1, .award, .awarder {
        color: #fff; 
      } 

      background: url('/img/dog-days-dark-sm.jpg') no-repeat center;
      background-size: cover !important;
    }
    @media (min-width: 992px) {
      .col-md-1 {
        width: 12.5%;
      }
    }
  }
  #support, #more-support {
    padding: 120px 0;
    border-bottom: 1px solid #333;
    h1, h2, h3, p, h4  {
     //color: #fff; 
    } 
    h2 {
      //color: @pretzel-green; 
      padding-top: 30px;
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .sprite-checkmark {
      display: block;
      float: left;
      margin-right: 10px;
    }
    p {
      clear: both; 
    }
    h4 {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
    @media (min-width: @screen-md-min) { //992 -> up
      #col-5 {
        clear: both; 
      }
    }
  }

  #steps {
    text-align: center;
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    border-bottom: 1px solid #333;
    h1 {
      margin-top: 50px;
    }
    h3 {
      font-size: 20px;
    }
    h2 {
      margin: 0;
      margin: 10px;
      font-size: 32px;
    }

    ul {
      margin-top: 30px;
    }
    li {
      .glyphicon {
        color: @pretzel-green;
      }
    }
    .item-heading {
      cursor: pointer;
      &:hover {
        .circle {
          background: lighten(@pretzel-green, 13.5%);
        }
      }
    }
    .circle {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background: @pretzel-green;
      text-align: center;
      margin: 0 auto;
      display: table;
      .cell {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .img span {
      clear: both;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      color: #121212;
      color: #121212;
    }
    p {
      //font-size: 16px;
      padding: 0 20px;
      font-size: 16px;
      margin-top: 15px;
    }
    .owl-item img {
      width: auto;
      display: inline;
    }
    .owl-dots {
      margin-top: 15px;
    }
    .owl-theme .owl-dots .owl-dot span {
      behavior: url(/libs/PIE.htc);
    }
    .owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
      background: transparent;
      color: white;
      text-decoration: none;
    }
    .owl-theme .owl-controls .owl-nav [class*='owl-'] {
      color: white;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      background: transparent;
      display: inline-block;
      cursor: pointer;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      margin: 0;
      padding: 0;
    }

    .owl-theme .owl-controls .owl-nav .owl-prev,
    .owl-theme .owl-controls .owl-nav .owl-next {
      position: absolute;
    }

    .owl-theme .owl-controls .owl-nav .owl-prev {
      left: 0;
      top: 58px;
    }

    .owl-theme .owl-controls .owl-nav .owl-next {
      right: 0;
      top: 58px;
    }

  }
  #models {
    padding-top: 60px;
    padding-bottom: 80px;
    .header {
      margin-bottom: 30px;
    }
    h4 {
      font-size: 16px;
      text-align: center;
    }
    img {
      .img-responsive;
      border: 1px solid #000;
      margin: 0 auto;
    }
    .caption {
      text-align: center;
    }
    @media (max-width: @screen-xs-max) {
      div[class^='col-'] {
        margin-bottom: 50px;
      }
    }
    @media (min-width: @screen-sm-min) { //768 -> up
      .caption {
        float: right; 
      }
    }
  }
  #testimonials {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    img {
      border-radius: 50%;
    }
    h1 {
      font-family: aleo, sans-serif; 
      font-weight: 700;
      margin-bottom: 90px;
    }
    p {
      font-size: 16px;
      padding: 0 50px;
    }

  }
}

#understand {
  header {
    height: 100%;
    //background: url('/img/understand-us-header.jpg') no-repeat top left;
    background: url('/img/original-store-dark-kraken.jpg') no-repeat top left;
    background-size: cover !important;
    height: 400px;
    .container {
      height: 100%;
      position: relative;
      display: table;
      h1 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-size: 48px;
        font-weight: 700;
      }
    }
  }
  #news-sections {
    padding-bottom: 60px;
    h2 {
      font-size: 34px;
      text-align: center;
      //margin: 0;
      //padding: 80px 0;
      padding-bottom: 20px;
    }
    img {
      display: block; 
      margin: 0 auto;
    }
    .article {
      margin-top: 50px;
      font-size: 22px; 
      clear: both;
      font-weight: 300;
    }
    .read-more {
     text-decoration: underline;
    }
    .caption {
      margin-top: 7px;
      float: right;
      font-weight: 300;
    }
    .body {
      max-width: 600px;  
      margin: 0 auto;
    }
    .dropcap {
      color: #000;
      float: left;
      font-size: 350%;
      line-height: 90%;
      padding-top: 2px;
      font-weight: normal;
      margin-right: .1em;
      font-family: Georgia;
    }
    #it-all-began {
      padding-bottom: 80px;
      border-bottom: 1px solid #ccc;
      padding-top: 50px;
    }
    #undercover {
      background: #f7f7f7;
      padding-bottom: 80px;
      border-bottom: 1px solid #ccc;
      padding-top: 50px;
      .player {
        max-width: 600px;
        position: relative;
        margin: 0 auto;
        a.youtube-link {
          display: inline-block;
        }
        a:after {
          content: url('/img/player-button.png');
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -48px;
          margin-left: -65px;
        }
        a:hover:after {
          content: url('/img/player-button-hover.png');
        }
      }
    }
    #history {
      padding-top: 50px;
      padding-bottom: 80px;
    }
  }
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: hsl(0, 0%, 11%);
  h1 {
    //color: hsl(0, 0%, 40%);
    color: #fff;
    font-family: aleo, sans-serif; 
    font-weight: 700;
  }
  .copyright {
   color: #fff;
  }
}

#request-info {
  padding-bottom: 120px;
  background: #f5f5f5;
  padding-top: 80px;
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
  button {
    position: relative; // pie needs for ie8
  }
}

.circle-button {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 51px;
  height: 51px;
  bottom: 20px;
  //border: 2px solid rgba(255,255,255,0.4);
  border: 2px solid #fff;
  border-radius: 50%;
  behavior: url(/libs/PIE.htc);
  text-align: center;
  transition: border-color 200ms ease-in-out;
  i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -3px;
    margin: auto;
  }
}

// ie8 
.btn {
  behavior: url(/libs/PIE.htc);
}



.row-padding-right {
  padding-right: 0;
}
