/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-airport {
  background-image: url(/img/sprite.png);
  background-position: 0px -1854px;
  width: 360px;
  height: 260px;
}
.sprite-balloons {
  background-image: url(/img/sprite.png);
  background-position: 0px -90px;
  width: 41px;
  height: 45px;
}
.sprite-binoculars {
  background-image: url(/img/sprite.png);
  background-position: 0px -135px;
  width: 64px;
  height: 45px;
}
.sprite-bullhorn {
  background-image: url(/img/sprite.png);
  background-position: 0px -362px;
  width: 72px;
  height: 46px;
}
.sprite-checklist {
  background-image: url(/img/sprite.png);
  background-position: 0px -316px;
  width: 34px;
  height: 46px;
}
.sprite-checkmark {
  background-image: url(/img/sprite.png);
  background-position: 0px -500px;
  width: 48px;
  height: 48px;
}
.sprite-construction {
  background-image: url(/img/sprite.png);
  background-position: 0px -270px;
  width: 45px;
  height: 46px;
}
.sprite-delco-daily-times {
  background-image: url(/img/sprite.png);
  background-position: 0px -1248px;
  width: 69px;
  height: 74px;
}
.sprite-entrepreneur-magazine {
  background-image: url(/img/sprite.png);
  background-position: 0px -964px;
  width: 50px;
  height: 71px;
}
.sprite-ernst-young {
  background-image: url(/img/sprite.png);
  background-position: 0px -1035px;
  width: 66px;
  height: 71px;
}
.sprite-fdd {
  background-image: url(/img/sprite.png);
  background-position: 0px -225px;
  width: 45px;
  height: 45px;
}
.sprite-financing {
  background-image: url(/img/sprite.png);
  background-position: 0px -180px;
  width: 39px;
  height: 45px;
}
.sprite-franchise-magazine {
  background-image: url(/img/sprite.png);
  background-position: 0px -824px;
  width: 55px;
  height: 70px;
}
.sprite-growth {
  background-image: url(/img/sprite.png);
  background-position: 0px -754px;
  width: 65px;
  height: 70px;
}
.sprite-interview {
  background-image: url(/img/sprite.png);
  background-position: 0px 0px;
  width: 48px;
  height: 45px;
}
.sprite-menu {
  background-image: url(/img/sprite.png);
  background-position: 0px -894px;
  width: 70px;
  height: 70px;
}
.sprite-philadelphia-daily-news {
  background-image: url(/img/sprite.png);
  background-position: 0px -684px;
  width: 60px;
  height: 70px;
}
.sprite-philadelphia-magazine {
  background-image: url(/img/sprite.png);
  background-position: 0px -548px;
  width: 64px;
  height: 67px;
}
.sprite-phillypretzelfactory-logo {
  background-image: url(/img/sprite.png);
  background-position: 0px -1322px;
  width: 100px;
  height: 93px;
}
.sprite-pretzel {
  background-image: url(/img/sprite.png);
  background-position: 0px -1415px;
  width: 235px;
  height: 179px;
}
.sprite-research {
  background-image: url(/img/sprite.png);
  background-position: 0px -454px;
  width: 30px;
  height: 46px;
}
.sprite-sign {
  background-image: url(/img/sprite.png);
  background-position: 0px -408px;
  width: 45px;
  height: 46px;
}
.sprite-smart-ceo-magazine {
  background-image: url(/img/sprite.png);
  background-position: 0px -615px;
  width: 66px;
  height: 69px;
}
.sprite-south-jersey-courier-post {
  background-image: url(/img/sprite.png);
  background-position: 0px -1106px;
  width: 89px;
  height: 71px;
}
.sprite-support {
  background-image: url(/img/sprite.png);
  background-position: 0px -1177px;
  width: 71px;
  height: 71px;
}
.sprite-tradional {
  background-image: url(/img/sprite.png);
  background-position: 0px -1594px;
  width: 360px;
  height: 260px;
}
.sprite-university {
  background-image: url(/img/sprite.png);
  background-position: 0px -45px;
  width: 48px;
  height: 45px;
}
.sprite-walmart {
  background-image: url(/img/sprite.png);
  background-position: 0px -2114px;
  width: 360px;
  height: 260px;
}
