footer
  .container
    h1 Philly Pretzel Factory 
    .copyright
      p <b>phone:</b> (267) 368 7398
      p <b>email:</b> djackson@spfsinc.com
      | All rights reserved.
      - var year = new Date().getFullYear()
      | Copyright &copy; #{year} Philadelphia Pretzel Factory

