extends layout

// so you can include it in the homepage header and not in the layout
// this clears it from layout
block nav

//block logo

block content
  header
    .wrapper-bg
      #scroll-reveal
        include nav
      #nav-in-header
        include nav
      .header-content
        #hero
          h1 PHILLY PRETZEL FACTORY FRANCHISING
            span The simplicity of the pretzel with support that feels like family
  #home-body
    section#benefits
      .container
        h1 Our Model is Simplicity
        .row
          .col-sm-4
            i.sprite-menu
            h3 Limited Menu
            p.
              We offer hot pretzels out of the oven and a few other products such as
              pretzel dogs and pepperoni pretzels. We make it as easy as possible to run our system so we
              we keep our product line limited.
          .col-sm-4
            i.sprite-support
            h3 Great Support
            p.
              We focus every day on providing unmatched franchise support, including access to our 
              Franchise Support Managers who routinely work with you to maintain operation efficiency 
              and build sales through store visits and consistent communication.
          .col-sm-4
            i.sprite-growth
            h3 Proven Growth
            p.
              45% of franchise owerns own more than one store and 
              since our first franchise opened nearly 20 years ago, in-stores sales have increased every year.
    section#awards
      .container
        h1
          span As a leader in the franchising industry we have won many awards over the years
        .row
          .col-sm-1
            i.sprite-franchise-magazine
            p.award Top 200 Franchises
            p.awarder Franchise Market Magazine
          .col-sm-1
            i.sprite-entrepreneur-magazine
            p.award Top 500 Franchises
            p.awarder Entrepreneur Magazine
          .col-sm-1
            i.sprite-smart-ceo-magazine
            p.award Excellence in Franchising
            p.awarder Smart CEO magazine
          .col-sm-1
            i.sprite-ernst-young
            p.award Entrepreneur of the year
            p.awarder Finalist - Ernst & Young: CEO, Daniel Dizio
          .col-sm-1
            i.sprite-south-jersey-courier-post
            p.award Best of South Jersey
            p.awarder South Jersey Courier Post
          .col-sm-1
            i.sprite-philadelphia-daily-news
            p.award Best Pretzels Award
            p.awarder Philadelphia Daily News
          .col-sm-1
            i.sprite-delco-daily-times
            p.award Best of Delco Award
            p.awarder Delco Daily Times
          .col-sm-1
            i.sprite-philadelphia-magazine
            p.award Best of Phillly
            p.awarder Philadelphia Magazine
    section#support
      .container
        h1.header Build on Loyal Support
        h3.subhead.
          Opening a new business is a huge undertaking, but you don’t have to do it alone. Our team is here to provide the support and training you need to ensure your store starts off strong and continues to grow.
        h2 The 8 Ways We Get You Off The Ground
        .row
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Comprehensive Training
            p Our comprehensive training program provides extensive class-room instruction and hands-on training in our corporate office followed by on-site training when you open your Philly Pretzel Factory.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              On-line Pre-Opening Checklist
            p One of the reasons our franchisees get off to such a quick start is they can monitor all pre-opening tasks on-line which insures you build your business quickly.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Real Estate Assistance
            p Our real estate manager will find locations as well as evaluate any locations you have found, offering a complete analysis of each location before you make the ultimate choice.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Construction Assistance
            p Our construction manager will provide you assistance with all the phases of construction, site plans, permits, equipment delivery and vendors.
        .row
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              On-site Store Opening Support
            p You will receive a week of onsite support when you open your store to make the launch of your new Philly Pretzel Factory run smoothly.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Access to Operations Manual
            p Our comprehensive operations manual allows easy access to descriptions and detailed instructions of every aspect of our Philly Pretzel Factory business model, all available on-line for reference at a touch of a button.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Access to Marketing Manual
            p Our industry leading marketing manual walks you through step-by-step instructions on the many proven methods of marketing your Philly Pretzel Factory for building revenue growth and generating profits.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Inclusion on our website
            p We maximize the exposure of our website through consistent search engine optimization to bring new customers to our corporate website and drive them through your doors for increased sales.
    section#steps
      h1
        span The Steps to Being a Happy Owner
      .container
        div(steps="pageElements.steps")
    section#more-support
      .container
        h1 The Support to Keep You Going Strong
        .row
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Daily Field Support
            p We focus every day on providing unmatched franchise support, including access to our Franchise Support Managers who routinely work with you to maintain operation efficiency and build sales through store visits and consistent communication.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Daily Field Support
              Company Intranet
            p You benefit from real time communication on our company intranet by recieving up-to-the-minute information from our franchise support department and easy communication with your fellow franchisees.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Franchise Operations Commitee 
            p Every fracnhisee has the opportunity to be involved in shaping the direction of Philly Pretzel Factory through participation on the Franchise Operations Committee.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Mystery Shops
            p You will receive valuable reports on a regular basis as a result of mystery shop visits to your Philly Pretzel Factory that will prove to be invaluable tools in running your business.
        .row
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Annual Convention
            p Top professional speakers and innovative vendors are just a few of the participants at our annual convention. This gives you the opportunity to learn, network, and build relationships with fellow franchisees.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Marketing Support
            p The life blood of any business is consistent marketing to build sales and we provide numerous options to support your execution of the marketing plan proven to grow your Philly Pretzel Factory.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Purchasing Power
            p Together, we can do more. Our franchisees have access to the the cost saving purchasing power provided by our growing franchise system.
          .col-sm-3
            h4.
              <i class="sprite-checkmark"></i>
              Community Involvement
            p A successful business is about more than sales or even good service. It is about people, plain and simple. Our community support program helps you explore ways to give back to your community.
    section#models
      .container
        h1 Our 3 Business Models
        .row
          .col-sm-4(ng-repeat="e in pageElements.models")
            h3 {{e.title}}
            h4 {{e.description}}
            img(ng-src="/img/sprites/{{e.img}}")
            p {{e.imgCaption}}

    section#request-info
      h1 request more info
      form(role="form")
        .form-group
          input.form-control.input-lg(type="text", name="name", placeholder="NAME")
        .form-group
          input.form-control.input-lg(type="email", name="email", placeholder="EMAIL")
        button.btn.btn-success.btn-lg.btn-block(type="submit") GET MORE INFO
