extends layout


block content
  section#banner
    .container
      .row
        .col-sm-4.col-1.col-sm-offset-1
          h1 Welcome to Philly Pretzel Factory Franchising
        .col-sm-7.col-2
          img(src="/img/header.png")
  section#welcome
    .container
      .col-sm-8.col-sm-offset-2
        h1 Owning your franchise should be simple
        p.
          Simple product and simple model. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  section#benefits
    .container
      .row
        .col-sm-4
          img.pretzel(src="/img/pretzel.png")
          h3 Simple Model
          p Selling a pretzel is much easier than running a restaurant. small limited menu. 
        .col-sm-4
          img.growth(src="/img/growth.png")
          h3 Growth
          p Since inception in-store sales have gone up every year.
        .col-sm-4
          img.support(src="/img/support.png")
          h3 Support
          p Your success is our success. We are dedicated to get you going and keep you going. 
  section#support
    .container
      .row
        .col-sm-6
          img(src="/img/circle-support.png")
        .col-sm-6
          h1 Support and Training
          //h2 For your franshise fee
          p.
            Opening a new business is a huge undertaking, but you don’t have to do it alone. Our team is here to provide the support and training you need to ensure your store starts off strong and continues to grow.
          ul.list-unstyled
            li
              h3 Comprehensive Training 
              p Our comprehensive training program provides extensive class-room instruction and hands-on training in our corporate office followed by on-site training when you open your Philly Pretzel Factory.
            li
              h3 On-line Pre-Opening Checklist 
              p One of the reasons our franchisees get off to such a quick start is they can monitor all pre-opening tasks on-line which insures you build your business quickly.
            li
              h3 Real Estate Assistance 
              p Our real estate manager will find locations as well as evaluate any locations you have found, offering a complete analysis of each location before you make the ultimate choice.
            li
              h3 Construction Assistance 
              p Our construction manager will provide you assistance with all the phases of construction, site plans, permits, equipment delivery and vendors.
            li
              h3 On-site Store Opening Support 
              p You will receive a week of onsite support when you open your store to make the launch of your new Philly Pretzel Factory run smoothly.
            li
              h3 Access to Operations Manual 
              p Our comprehensive operations manual allows easy access to descriptions and detailed instructions of every aspect of our Philly Pretzel Factory business model, all available on-line for reference at a touch of a button.
            li
              h3 Access to Marketing Manual 
              p Our industry leading marketing manual walks you through step-by-step instructions on the many proven methods of marketing your Philly Pretzel Factory for building revenue growth and generating profits.
            li
              h3 Inclusion on our website 
              p We maximize the exposure of our website through consistent search engine optimization to bring new customers to our corporate website and drive them through your doors for increased sales.
