extends layout

// so you can include it in the homepage header and not in the layout
// this clears it from layout
block nav

block content
  header
    .wrapper-bg
      #scroll-reveal
        include nav
      #nav-in-header
        include nav
      .header-content
        #hero
          h1 PHILLY PRETZEL FACTORY FRANCHISING
          h2 The simplicity of a great pretzel combined with support<br>that feels like family
      .circle-button
        img(src="/img/chevron-sm.png")
  #home-body
    section#benefits
      .container
        h1 Our Model is Simplicity
        .row
          .col-sm-4
            i.sprite-menu
            h3 Simple Menu
            p.
              We offer fresh "hot outta the oven" pretzels and a few other products such as
              pretzel dogs, pretzel cheeseteaks, peperoni  metls,and cinnamon pretzel twists. We make it as easy as possible to run our system, so we
              we keep our product line limited.
          .col-sm-4
            i.sprite-support
            h3 Solid Support
            p.
              We focus on providing unmatched franchise support through our Franchise Support Managers who 
              work with you to maintain operation efficiency and build sales through store visits and consistent 
              communication.
          .col-sm-4
            i.sprite-growth
            h3 Proven Growth
            p.
              Since our first franchise opened nearly 20 years ago, in-stores sales
              have continued to grow. In fact, 45% of franchise owners own multiple stores.
    section#awards
      .container
        h1
          span A Leader in the Franchising Industry
        .row
          .col-md-1(ng-repeat="e in pageElements.awards")
            i(class="sprite-{{e.img}}")
            p.award {{e.award}}
            p.awarder {{e.awarder}}
    section#support
      .container
        h1.header Build on Loyal Support
        h3.subhead.
          Opening a new business is a huge undertaking, but you don’t have to do it alone. Our team is here to provide the support and training you need to ensure your store starts off strong and continues to grow.
        h2 The 8 Ways We Get You Off The Ground
        .row(ng-repeat="groups in pageElements.supportGroups")
          .col-sm-3(ng-repeat="e in groups")
            i.sprite-checkmark
            h4 {{e.name}}
            p {{e.value}}
    section#steps
      h1 Steps to Becoming a Philly Pretzel Factory Owner
      .container
        div(steps="pageElements.steps")
    section#more-support
      .container
        h1 The Support to Keep You Going Strong
        .row(ng-repeat="groups in pageElements.moreSupportGroups")
          .col-sm-3(ng-repeat="e in groups")
            i.sprite-checkmark
            h4 {{e.name}}
            p {{e.value}}
    section#models
      .container
        h1 Our 3 Business Models
        .row
          .col-sm-4(ng-repeat="e in pageElements.models")
            h3 {{e.title}}
            h4 {{e.description}}
            img(ng-src="/img/{{e.img}}")
            p(ng-bind-html="e.imgCaption")
    section#request-info
      include request-info 
