doctype html
html(ng-app="pretzelApp")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='shortcut icon', href='/img/favicon.png')
    - var titleBase =  'Philly Pretzel Factory Franchising'
    if locals.title
      title #{title} - #{titleBase}
    else
      title #{titleBase}
    link(rel='stylesheet', href='/css/main.css')

    if locals.env === 'development'
      script(src="/js/jquery.js")
      script(src="/js/angular.js")
      script(src="/js/ng-messages.js")
      script(src="/js/ui-bootstrap-tpls-0.11.0.js")
      script(src="/js/waypoints.min.js")
      script(src="/js/components/submit.js")
      script(src="/js/ng-me.js")
      script(src="/js/directives.js")
      script(src="/js/components/steps.js")
      script(src="/js/templates.js")
      script(src="/js/filters.js")
      script(src="/js/owl.carousel/owl.carousel.js")
      script(src="/js/angular-strap.min.js")
      script(src="/js/angular-strap.tpl.min.js")
      script(src="/bower_components/lodash/dist/lodash.min.js")
      script(src="/bower_components/multiline/browser.js")
      script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
      script(src="/css/bootstrap-3.1.1/js/collapse.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45353603-1', 'auto');
      ga('send', 'pageview');

    block head
  body(ng-controller="pretzelCtrl", id= locals.id ? locals.id : '')
    #notification
    block nav
      include nav
    block content
    include footer
    if locals.env === 'production'
      script(src="/js/app.min.js")

    script.
      $(document).ready(function() {
          if ($('window').width() < 600) {
           $('#benefits').waypoint(function(direction) {
            if (direction == 'down')
             $('#scroll-reveal .navbar').addClass('show navbar-fixed-top')
            if (direction == 'up')
              $('#scroll-reveal .navbar').removeClass('show navbar-fixed-top')
          })
         
          
        }

        $(".circle-button").click(function() {
          $('html, body').animate({'scrollTop': $('#benefits').offset().top}, 1000);
        })

        $(".scroll-down").click(function() {
          $('html, body').animate({'scrollTop': $('#request-info').offset().top}, 2000);
        })
      });

