nav.navbar(role="navigation")
  .container
    //- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      block logo
        a.navbar-brand(href="/")
          i.sprite-phillypretzelfactory-logo

    //- Collect the nav links for toggling -->
    .collapse.navbar-collapse#navbar-collapse
      ul.nav.navbar-nav
        li: a(href="#") Articles
        li: a(href="#") Business Models


      ul.nav.navbar-nav.navbar-right.request-info
        li: a.scroll-down(href="#") Request Info
