block content
  h1 Request More Info
  form(role="form" name="requestForm" novalidate rc-submit="sendData(data)" ng-controller="requestFormCtrl")
    .form-group(ng-class="form.classStatus('firstName')")
      input.form-control.input-lg(type="text" name="firstName" placeholder="FIRST NAME" required ng-model="data.firstName")
      .help-block(ng-if="form.interactedWith('firstName')", ng-messages="requestForm.firstName.$error")
        div(ng-message="required") Please enter your first name

    .form-group(ng-class="form.classStatus('lastName')")
      input.form-control.input-lg(type="text" name="lastName" placeholder="LAST NAME" required ng-model="data.lastName")
      .help-block(ng-if="form.interactedWith('lastName')", ng-messages="requestForm.lastName.$error")
        div(ng-message="required") Please enter your last name


    .form-group(ng-class="form.classStatus('email')")
      input.form-control.input-lg(type="email", name="email", placeholder="EMAIL", required ng-model="data.email")
      .help-block(ng-if="form.interactedWith('email')", ng-messages="requestForm.email.$error")
        div(ng-message="required") Please enter an email
        div(ng-message="email") Please enter a valid email

    .form-group(ng-class="form.classStatus('state')")
      select.form-control.input-lg(name="state", required ng-model="data.state" ng-options="item.action for item in todos")

    button.btn.btn-success.btn-lg.btn-block(type="submit") GET MORE INFO
