extends layout

block content
  header
    .container
      h1 Get to Know Us Better
    section#request-info
      h1 Request More Info
      form(role="form" name="requestForm" novalidate rc-submit="sendData(data)" ng-controller="requestFormCtrl")
        .form-group(ng-class="form.classStatus('name')")
          input.form-control.input-lg(type="text" name="name" placeholder="NAME" required ng-model="data.name")
          .help-block(ng-if="form.interactedWith('name')", ng-messages="requestForm.name.$error")
            div(ng-message="required") Please enter a name

        .form-group(ng-class="form.classStatus('email')")
          input.form-control.input-lg(type="email", name="email", placeholder="EMAIL", required ng-model="data.email")
          .help-block(ng-if="form.interactedWith('email')", ng-messages="requestForm.email.$error")
            div(ng-message="required") Please enter an email
            div(ng-message="email") Please enter a valid email

        button.btn.btn-success.btn-lg.btn-block(type="submit") GET MORE INFO
