extends layout

block content
  header
    .container
      h1 Get to Know Us Better
  #news-sections
    section#origin
      .container
        .row
          h2.intro-headline It All Began on a Philadelphia Street Corner at the age of 11...
          .col-sm-7
            img(src="/img/origin.jpg")
            p.caption  Daniel DiZio, left, and Len Lehman
          .col-sm-4
            .quote
              .quote-inner
                h4 Daniel DiZio started in the business when he was 11
                h3 selling pretzels five for a dollar on street corners. And then he and his partner discovered a machine in Florida... 
                  a.read-more(href="http://www.franchisetimes.com/February-2014/Soft-Landing/") read story
    hr
    section#undercover
      .container
        .row
          .col-sm-7.col-sm-offset-5
            h2.intro-headline The CBS Show Undercover Boss Featured our Founder...
        .row
          .col-sm-4.col-sm-offset-1
            .quote
              .quote-inner
                h4 I thought that because I was a founder
                h3 of the company, and that I had twisted pretzels, that I would never forget all that," he told AOL Jobs. "You don't want to become that CEO that's out of touch. But I lost perspective... 
                  a.read-more(href="http://jobs.aol.com/articles/2012/04/28/undercover-boss-pretzel-ceo-in-a-twist-over-working-conditio/") read story
          .col-sm-7
            .player
              a(href="https://www.youtube.com/watch?v=6ucS4dygaJc")
                img(src="/img/undercover-boss.jpg")
              p.caption Daniel DiZio undercover and Marcus
    hr
    section#history
      .container
        .row
          .col-sm-7
            h2.intro-headline Pretzels are the Holy Grail of Food to Philadelphians...
        .row
          .col-sm-7
            img(src="img/history.jpg")
            p.caption City of Philadelphia, Dept of Records
          .col-sm-5
            .quote
              .quote-inner
              h4 Philadelphia has made its way into similar
              h3 culinary fame, not only for cheese steaks and water ice (characteristically known as &quot;wudder ice&quot; by the locals), but also for the delicious, chewy, salty, &quot;get-em just about everywhere in Philly,&quot; soft twisted pretzels... 
                a.read-more(href="http://www.phillyhistory.org/blog/index.php/2007/08/soft-pretzels-a-philadelphia-culinary-tradition/") read story
  #request-info
    .container
      h1 Request More Info
      form(role="form" name="requestForm" novalidate rc-submit="sendData(data)" ng-controller="requestFormCtrl")
        .form-group(ng-class="form.classStatus('name')")
          input.form-control.input-lg(type="text" name="name" placeholder="NAME" required ng-model="data.name")
          .help-block(ng-if="form.interactedWith('name')", ng-messages="requestForm.name.$error")
            div(ng-message="required") Please enter a name

        .form-group(ng-class="form.classStatus('email')")
          input.form-control.input-lg(type="email", name="email", placeholder="EMAIL", required ng-model="data.email")
          .help-block(ng-if="form.interactedWith('email')", ng-messages="requestForm.email.$error")
            div(ng-message="required") Please enter an email
            div(ng-message="email") Please enter a valid email

        button.btn.btn-success.btn-lg.btn-block(type="submit") GET MORE INFO
    //section#map
      .container
        h2.intro-headline Our Locations
        .headers
          h3#title_1 Pennsylvania
          h3#title_2 Delaware
          h3#title_3 New Jersey
          h3#title_4 Maryland
          h3#title_5 New York
          h3#title_6 Virginia
          h3#title_7 Indiana
          h3#title_8 Tennessee
          h3#title_9 North Carolina
          h3#title_10 Florida
        ng-include(src="'img/us-map.svg'")
