extends layout

block content
  header(parallax)
    .container
      h1 Get to Know Us Better
  #news-sections
    section#it-all-began
      .container
        h2 It All Began on a Philadelphia Street Corner at the age of 11...
        .body
          img(src="/img/origin.jpg")
          p.caption  Daniel DiZio, left, and Len Lehman
          p.article <span class="dropcap">D</span>aniel DiZio’s mother insisted on giving him his $7 allowance, even after she found the drawers under his twin bed overflowing with crumpled dollar bills. And even after she found out that at 14, her son was making more money than she was. 
            a.read-more(href="http://www.franchisetimes.com/February-2014/Soft-Landing/") more 
    section#undercover
      .container
        h2 The CBS Show Undercover Boss Featured our Founder...
        .body
          .player
            a.youtube-link(href="https://www.youtube.com/watch?v=6ucS4dygaJc")
              img(src="/img/undercover-boss.jpg")
            p.caption Daniel DiZio undercover and Marcus
          p.article <span class="dropcap">I</span> thought that because I was a founder of the company, and that I had twisted pretzels, that I would never forget all that," he told AOL Jobs. "You don't want to become that CEO that's out of touch. But I lost perspective... 
            a.read-more(href="http://jobs.aol.com/articles/2012/04/28/undercover-boss-pretzel-ceo-in-a-twist-over-working-conditio/") more 
    section#history
      .container
        h2 Pretzels are the Holy Grail of Food to Philadelphians...
        .body
          img(src="img/history.jpg")
          p.caption City of Philadelphia, Dept of Records
          p.article <span class="dropcap">P</span>hiladelphia has made its way into similar culinary fame, not only for cheese steaks and water ice (characteristically known as &quot;wudder ice&quot; by the locals), but also for the delicious, chewy, salty, &quot;get-em just about everywhere in Philly,&quot; soft twisted pretzels... 
            a.read-more(href="http://www.phillyhistory.org/blog/index.php/2007/08/soft-pretzels-a-philadelphia-culinary-tradition/") more
  #request-info
    include request-info
