@import "bootstrap-less/bootstrap.less";
//@import "../js/libs/bootstrap/dist/css/bootstrap.css";
@import "fonts.less";
//@import "../fonts/icomoon/style.css";
//@import (less) "../fonts/icons/style.css";
//@import "bootstrap-compiled.less";

//@media (min-width: 1070px) {//992
  //.container {
   // max-width: 800px;
  //}
//}
.container-narrow {
  .container-fluid;
  max-width: 900px;
}

@forest-green: #338a10;
@light-green: #40d47e;

@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 60%);   // #999
@gray-lighter: lighten(#000, 93.5%); // #eee

.header {
  margin-bottom: .5em;
}
.subhead {
  color: @gray-light;
  margin-bottom: 50px;
}


/* ==========================================================================
   Base tags
   ========================================================================== */

html {
  height: 100%;
  color: #444;
}

h1, h2, h3, h4, h5, h6  {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #222;
}

h1 {
  margin-bottom: 1em;
  @media (min-width: @screen-sm-min) { //768 -> up
    font-size: 35px;
  }
}

body {
  font-family: proximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #555;
  //line-height: 1.2;
}

.navbar {
  //height: 150px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding-top: 9px;
  .container {
    max-width: 1070px;
  }
  .navbar-nav {
    margin-top: 18px;
  }
  .navbar-toggle {
    padding: 14px 10px;
    .icon-bar {
      width: 27px;
    }
  }
  .navbar-brand {
    padding-top: 5px;
    img {
      display: block;
      width: auto;
      height: 75px;
      position: relative;
      z-index: 1;
    }
  }
  li {
    a {
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 17px;
      color: #0a4f6c;
      &:hover {
        background-color: transparent;
        color: #40d47e;
      }
    }
  }
  .request-info {
    a {
      background-color: #ff0033;
      background-color: #d95253;
      padding: 10px 12px;
      margin-top: 14px;
      color: #fff;
      font-size: 16px;
      border-radius: 3px;
      &:hover {
        background-color: #db002c;
        color: #fff;
      }
    }
  }
}

.navbar-fixed-top {
  background-color: #fff;
}

#home-hd.toggle-nav-in-ad {
  .navbar {
    box-shadow: none;
    ul li a {
      color: #fff;
      font-size: 16px;
      &:hover {
        background-color: transparent;
        color: #ccc;
      }
    }
  }
}


#home {
  section h1, section h2, section h3 {
    text-align: center;
  }
  #home-hd {
    //background: url('/img/pretzel-bg-home-header.jpg') no-repeat 0 0;
    background: url('/img/pretzel-bg.jpg') no-repeat top left;
    background-size: cover !important;
    //background-size: 100% 500px;
    height: 100%;
    position: relative;
    nav .container {
      max-width: 100%;
    }
  }
  h1 {
   font-size: 46px;
  }
  #hero {
    padding: 50px;
    text-align: center;
    //background: rgba(255,255,255,.5);
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    img {
      height: 450px;
      margin-top: 50px;
    }
  }
  #benefits {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 100px;
    h1 {
      margin: 0;
      margin-bottom: 80px;
    }
    img {
      height: 70px;
      width: auto;
    } 
    h3 {
      font-size: 24px;
      margin-top: 50px;
    }
    p {
      //font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  #awards {
    background: url('/img/dog-days-green.jpg') no-repeat top left;
    background-size: cover !important;
    //background: @forest-green;
    border-top: 1px solid #40d47e;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    padding: 30px 0;
    h1 {
      color: #fff;
    }
    img {
      height: 70px;
    }
    .col-sm-1 {
      width: 12.5%;
    }
    p {
      margin-bottom: 0;
    }
    .award {
      font-weight: 700;
      margin-top: 10px;
      color: #fff;
    }
    .awarder {
      color: #fff;
      font-size: 13px;
    }
  }
  #support {
    padding-top: 60px;
    margin-bottom: 120px;
    h2 {
      color: #fff; 
      padding-top: 30px;
      font-size: 34px;
      font-weight: 700;
    }
    .panel-1, .panel-2 {
      padding-bottom: 30px;
    }
    .panel-1 {
      background: #3498DB;
    }
    .panel-2 {
      background: #34495E;
      .number-circle {
        color: #34495E 
      }
    }
    .number-circle {
      border-radius: 50%;
      font-size: 34px;
      width: 50px;
      height: 50px;
      background: #fff;
      color: #3498DB;
      text-align: center;
      margin: 0 auto;
      line-height: 1.5;
    }
    h4 {
      margin-top: -10px;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      &::before {
        content: url(/img/checkmark.png);
      }

      b {
        font-size: 40px;
      }
    }
    p {
      color: #fff;
    }
    .owl-theme .owl-controls .owl-page span {
      background: #fff;
      width: 25px;
      height: 25px;
    }
    .owl-wrapper-outer {
      min-height: 510px;
    }
  }
  #steps {
    //padding-top: 120px;
    text-align: center;
    position: relative;
    #bg-image {
      background: url(/img/franchise-owner.jpg) no-repeat center center;
      background-size: cover !important;   
      width: 100%;
    }
    h1 {
      position: relative;
      z-index: 2;
      top: 300px;
      color: #fff;
      margin: 0;
      span {
        border: 5px solid #fff;
        padding: 30px;
        display: inline-block;
      }
    }
    div[class^='col-sm-'] { 
      background: #2ECC71;
      border: 1px solid #fff;
    }
    .lighter {
      background: lighten(#2ECC71, 13.5%) !important;
    }
    .content {
      //background: #73e0b8;
      padding-bottom: 20px;
    }
    img {
      //padding: 40px 0;
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      height: 50px;
    }
    h2 {
      color: #fff; 
      float: left;
      margin: 0;
      margin: 10px;
      font-size: 20px;
    }
    h3 {
      clear: both;
      //margin: 34px 0;
      font-size: 22px;
      font-weight: 700;
      color: #fff; 
    }
    p {
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      min-height: 115px;
      line-height: 1.2;
    }
    .owl-theme .owl-controls .owl-page span {
      background: #2ECC71;
      width: 25px;
      height: 25px;
    }
    .container-fluid {
      position: relative; 
      overflow: hidden;
      padding: 0;
    }
    .row {
      position: relative; 
      width: 100%;
      margin: 0;
    }

  }
}




#alert {
  position: fixed;
  left: 50%;
  z-index: 1060;
  .content {
    position: relative;
    left: -50%;
    background: #F9EDBE;
    border: 1px solid #F0C36D;
    color: #222;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    .close {
      color: #fff; 
      text-decoration: none;
      margin-top: -9px;
      margin-right: -6px;
      .opacity(100);
    }
  }
 .error {
    border: 1px solid #E73E36;
    background: #fff;
    color: #E73E36;
    .close {
      color: #E73E36;
    }
  }
}

#myModal {
  #alert;
  .content {
    width: 600px; 
    background: #333;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    .inner {
      padding: 40px;
      .clearfix(); 
    }
    p {
      font-size: 40px;
    }
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(.5);
}

footer {
  //background-color: #6e7982;
  //background-color: #666;
  padding: 50px 0;
  text-align: center;
  .copyright {
    //color: #777e83;
    //color: #fff;
    //font-size: 12px;
    //font-weight: 100;
    clear: both;
    padding-top: 15px;
    //border-top: 1px solid #3a3e40;
    //border-top: 1px solid #eee;
    //margin-top: 15px;
  }
}

